./Posture/*_model_*
./Posture/trainset
./Posture/validset
./Posture/venv/
./Posture/.DS_Store
__pycache__
./Posture/.idea/
./Posture/atlas/
./Posture/assets/
/root/Posture/data/demo_files
./Posture/myenv/